site_name: pytoil
repo_url: https://github.com/FollowTheProcess/pytoil
site_url: https://FollowTheProcess.github.io/pytoil/
site_description: CLI to automate the development workflow.
site_author: Tom Fleet
use_directory_urls: false
strict: true
nav:
  - Home: index.md
  - Config: config.md
  - Commands:
      - Show: commands/show.md
      - New: commands/new.md
      - Checkout: commands/checkout.md
      - Remove: commands/remove.md
      - Keep: commands/keep.md
      - Info: commands/info.md
      - Find: commands/find.md
      - GH: commands/gh.md
      - Pull: commands/pull.md
      - Config: commands/config.md
      - Bug: commands/bug.md
  - Contributing:
      - Guide: contributing/contributing.md
      - Code of Conduct: contributing/code_of_conduct.md
plugins:
  - search
theme:
  name: material
  font:
    text: Roboto
    code: SF Mono
  feature:
    tabs: true
  palette:
    - scheme: default
      primary: blue grey
      accent: blue
      toggle:
        icon: material/lightbulb-outline
        name: Dark mode
    - scheme: slate
      primary: blue grey
      accent: blue
      toggle:
        icon: material/lightbulb-outline
        name: Light mode
markdown_extensions:
  - codehilite
  - pymdownx.highlight:
      use_pygments: true
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.inlinehilite
  - admonition
  - extra
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_div_format
  - pymdownx.details
  - pymdownx.tabbed
  - toc:
      permalink: true

extra_css:
  - "css/termynal.css"
  - "css/custom.css"

extra_javascript:
  - "https://unpkg.com/mermaid@8.4.6/dist/mermaid.min.js"
  - "js/termynal.js"
  - "js/custom.js"
