[build-system]
build-backend = "setuptools.build_meta"
requires = [
  "setuptools>=61",
]

[project]
name = "pytoil"
version = "0.32.1"
description = "CLI to automate the development workflow."
readme = "README.md"
keywords = [
  "automation",
  "cli",
  "developer-tools",
  "python",
]
license = { text = "Apache Software License 2.0" }
maintainers = [ { name = "Tom Fleet" }, { email = "tomfleet2018@gmail.com" } ]
authors = [ { name = "Tom Fleet" }, { email = "tomfleet2018@gmail.com" } ]
requires-python = ">=3.9"
dependencies = [
  "aiofiles==0.8",
  "anyio==3.6.1",
  "asyncclick==8.0.3.2",
  "cookiecutter==2.1.1",
  "copier==6",
  "httpx[http2]==0.23",
  "humanize==4.1",
  "pydantic==1.9.1",
  "PyYAML==6",
  "questionary==1.10",
  "rich==12.4.4",
  "rtoml==0.8",
  "thefuzz[speedup]==0.19",
  "virtualenv==20.14.1",
]
classifiers = [
  "Development Status :: 3 - Alpha",
  "Environment :: Console",
  "Intended Audience :: Developers",
  "License :: OSI Approved :: Apache Software License",
  "Natural Language :: English",
  "Operating System :: MacOS :: MacOS X",
  "Operating System :: POSIX :: Linux",
  "Operating System :: Microsoft :: Windows",
  "Operating System :: OS Independent",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Topic :: Software Development",
  "Topic :: Utilities",
  "Typing :: Typed",
]
[project.optional-dependencies]
dev = [
  "black==22.3",
  "coverage[toml]==6.4.1",
  "flake8==4.0.1",
  "flake8-bugbear==22.4.25",
  "freezegun==1.2.1",
  "isort==5.10.1",
  "mkdocs==1.3",
  "mkdocs-material==8.3",
  "mypy==0.960",
  "nox==2022.1.7",
  "pre-commit==2.19",
  "pytest==7.1.2",
  "pytest-asyncio==0.18.3",
  "pytest-clarity==1.0.1",
  "pytest-cov==3",
  "pytest-httpx==0.21",
  "pytest-mock==3.7",
  "pytest-randomly==3.12",
  "types-aiofiles==0.8.8",
  "types-click==7.1.8",
  "types-PyYAML==6.0.8",
]

[project.urls]
Documentation = "https://FollowTheProcess.github.io/pytoil/"
Homepage = "https://github.com/FollowTheProcess/pytoil"
Source = "https://github.com/FollowTheProcess/pytoil"

[project.scripts]
pytoil = "pytoil.cli.root:main"


[tool.setuptools]
zip-safe = false
include-package-data = true
package-data = { "pytoil" = [ "py.typed" ] }

[tool.isort]
profile = "black"

[tool.coverage.run]
omit = [
  "*__init__.py",
  "*__main__.py",
  "src/pytoil/cli/*",
  "*exceptions.py",
  "src/pytoil/environments/base.py",
  "src/pytoil/starters/base.py",
]
branch = true

[tool.coverage.report]
exclude_lines = [ "# pragma: no cover", "def __repr__" ]

[tool.mypy]
files = [ "pytoil/**/*.py", "noxfile.py", "scripts/**/*.py" ]
python_version = "3.9"
ignore_missing_imports = true
strict = true
pretty = true
disallow_untyped_decorators = false
plugins = "pydantic.mypy"
show_error_codes = true
warn_unreachable = true
enable_error_code = [ "ignore-without-code", "redundant-expr", "truthy-bool" ]

[[tool.mypy.overrides]]
module = "tests.*"
ignore_errors = true

[tool.pytest.ini_options]
asyncio_mode = "strict"
minversion = "7.0"
addopts = [ "-ra", "--strict-markers", "--strict-config" ]
xfail_strict = true
filterwarnings = [ "error" ]
log_cli_level = "info"
pythonpath = [ "src" ]
testpaths = [ "tests" ]

[tool.pycln]
path = "/src"
expand_stars = true
all = true
no_gitignore = false
