[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "pytoil"
version = "0.30.0"
description = "CLI to automate the development workflow."
authors = ["Tom Fleet <tomfleet2018@gmail.com>"]
maintainers = ["Tom Fleet <tomfleet2018@gmail.com>"]
license = "Apache Software License 2.0"
homepage = "https://github.com/FollowTheProcess/pytoil"
readme = "README.md"
repository = "https://github.com/FollowTheProcess/pytoil"
documentation = "https://FollowTheProcess.github.io/pytoil/"
classifiers = [
    "Development Status :: 3 - Alpha",
    "Environment :: Console",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: Apache Software License",
    "Natural Language :: English",
    "Operating System :: MacOS :: MacOS X",
    "Operating System :: POSIX :: Linux",
    "Operating System :: Microsoft :: Windows",
    "Operating System :: OS Independent",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3 :: Only",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Topic :: Software Development",
    "Topic :: Utilities",
    "Typing :: Typed",
]
include = ["pytoil/py.typed"]
keywords = ["cli", "python", "developer-tools", "automation"]

[tool.poetry.scripts]
pytoil = "pytoil.cli.root:main"

[tool.poetry.urls]
Documentation = "https://FollowTheProcess.github.io/pytoil/"

[tool.poetry.dependencies]
python = "^3.9"
asyncclick = "8.0.3.2"
anyio = "3.5.0"
httpx = { extras = ["http2"], version = "0.22.0" }
aiofiles = "0.8.0"
PyYAML = "6.0"
rich = "12.3.0"
thefuzz = { extras = ["speedup"], version = "0.19.0" }
cookiecutter = "1.7.3"
virtualenv = "20.14.1"
pydantic = "1.9.0"
humanize = "4.0.0"
questionary = "1.10.0"
rtoml = "0.7.1"

[tool.poetry.dev-dependencies]
pytest = "7.1.2"
bump2version = "1.0.1"
flake8 = "4.0.1"
flake8-bugbear = "22.4.25"
flake8-comprehensions = "3.8.0"
isort = "5.10.1"
nox = "2022.1.7"
black = "22.3.0"
pytest-cov = "3.0.0"
coverage = { extras = ["toml"], version = "6.3.2" }
mypy = "0.950"
mkdocs = "1.3.0"
mkdocs-material = "8.2.11"
types-click = "7.1.8"
pytest-asyncio = "0.18.3"
pytest-httpx = "0.20.0"
types-aiofiles = "0.8.8"
types-PyYAML = "6.0.7"
pytest-mock = "3.7.0"
pytest-randomly = "3.11.0"
pre-commit = "2.18.1"
freezegun = "1.2.1"
pytest-clarity = "1.0.1"
pip-audit = "2.1.1"

[tool.isort]
# Added for compatibility with black
profile = "black"

[tool.coverage.run]
omit = [
    "*__init__.py",
    "*__main__.py",
    "pytoil/cli/*",
    "*exceptions.py",
    "pytoil/environments/base.py",
    "pytoil/starters/base.py",
]
branch = true

[tool.coverage.report]
exclude_lines = ["# pragma: no cover", "def __repr__"]

[tool.mypy]
files = ["pytoil/**/*.py", "noxfile.py"]
ignore_missing_imports = true
strict = true
pretty = true
disallow_untyped_decorators = false
plugins = "pydantic.mypy"
show_error_codes = true
warn_unreachable = true
enable_error_code = ["ignore-without-code", "redundant-expr", "truthy-bool"]

[[tool.mypy.overrides]]
module = "tests.*"
ignore_errors = true

[tool.pytest.ini_options]
asyncio_mode = "strict"
minversion = "6.0"
addopts = ["-ra", "--strict-markers", "--strict-config"]
xfail_strict = true
filterwarnings = ["error"]
log_cli_level = "info"
testpaths = ["tests"]

[tool.pycln]
path = "/pytoil"
expand_stars = true
all = true
no_gitignore = false

[tool.bandit]
skips = ["B105", "B106"]
